:root {
	--error-color: rgb(225, 19, 19);
	--active-color: #20c997;
}

.bg-active {
	background-color: var(--active-color);
	font-weight: bold;
}

.error-message {
	color: var(--error-color);
	font-size: 0.75rem;
	margin-top: 5px;
	position: absolute;
	top: 3.95rem;
}

.error-input {
	border-color: var(--error-color);
}

.form-control {
	margin-bottom: 0.5rem;
}

.nav-link.active {
	color: #fff !important;
	background-color: var(--active-color);
	font-weight: bold;
	border-radius: 4px;
}

button.form-symfony {
	position: relative;
	top: 0.75rem
}

.is-relative-for-icon-password {
	position: relative;
}

.is-relative-for-icon-password input {
	padding-right: 2.5rem;
}

i.show-password {
	position: absolute;
	display: block;
	bottom: .5rem;
	right: 1rem;

	user-select: none;
	cursor: pointer;
}