:root {
	--error-color: rgb(225, 19, 19);
}

.error-message {
	color: var(--error-color);
	font-size: 0.75rem;
	margin-top: 5px;
	position: absolute;
	top: 3.95rem;
}

.error-input {
	border-color: var(--error-color);
}

.form-control {
	margin-bottom: 0.5rem;
}

button.form-symfony {
	position: relative;
	top: 0.75rem
} 